/* commn css styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* banner section styles */


#banner-part .container {
    background: url("../images/Banner\ Image.png");
}

#banner-part .container .text {
    padding: 177px 334px;
}

#banner-part .container .text h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

#banner-part .container .text h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
}

/* off part section styles */
#off-part {
    margin: 120px 0;
}

#off-part .container .text h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

#off-part .container .text h3 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 48px 0 6px;
}

#off-part .container .text h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

#off-part .container .images {
    text-align: center;
    margin-top: 48px;
}

#off-part .container .images img {
    width: 800px;
}

/* welcome styles */

#welcome-part .container {
    background: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
}

#welcome-part .container .text {
    padding: 125px 512px 298px 126px;
}

#welcome-part .container .text h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

#welcome-part .container .text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0;
}

#welcome-part .container .text button {
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
}

/* place part section styles */
#place-part .container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
}

#place-part .container .text {
    padding: 100px 386px 110px;
}

#place-part .container .text h3 {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

#place-part .container .text h3 span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

#place-part .container .text .btn {
    text-align: center;
}

#place-part .container .text .btn button {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* offer-part styles */
#offer-part {
    margin: 100px 0;
}

#offer-part .container {
    display: flex;
    gap: 100px;
}

#offer-part .container .left h3 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

#offer-part .container .left h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 8px 0 22px;
}

#offer-part .container .left p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}

#offer-part .container .midule .images {
    width: 370px;
    height: 370px;
    border: 10px solid red;
    border-radius: 50%;
}

#offer-part .container .midule .images img {
    width: 360px;
}

#offer-part .container .right h2 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

#offer-part .container .right p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 7px 0 44px;
}

#offer-part .container .right img {
    width: 140px;
}


/* holyday styles */
#holyday {
    padding: 100px 0;
}

#holyday .container .text h3 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

#holyday .container .text h2 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin: 7px 0 27px;
}

#holyday .container .text h2 span {
    color: #F00;
}

#holyday .container .text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    margin-bottom: 30px;
}

#holyday .container .discount {
    width: 1320px;
    height: 663px;
    /* border: 1px solid red; */
    position: relative;
}

#holyday .container .discount .red {
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-100%);
}

#holyday .container .discount .red img {
    width: 674px;
    position: absolute;
    left: 0;
    top: -300px;
}

#holyday .container .discount .images {
    width: 429px;
    height: 433px;
    background: url("../images/Rectangle\ 1.png");
    position: absolute;
    left: 100%;
    top: 0;
    transform: translateX(-100%);
}

#holyday .container .discount .images img {
    position: absolute;
    width: 206px;
    left: -100px;
    top: 140px;
}


/* gift part styles */
#gift-part .container .text h3 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

#gift-part .container .text h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 15px 0 22px;
}

#gift-part .container .text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
}

#gift-part .container .gift-item-img {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 24px;
    margin-top: 48px;
}

#gift-part .container .gift-item-img .gift-item {
    width: 424px;
    height: 450px;
}

#gift-part .container .gift-item-img .gift-item :hover {
    box-shadow: 4px -2px 12px 4px rgba(77, 50, 50, 0.75);
    -webkit-box-shadow: 4px -2px 12px 4px rgba(77, 50, 50, 0.75);
    -moz-box-shadow: 4px -2px 12px 4px rgba(77, 50, 50, 0.75);
}

/* newsletter-part styles */
#newsletter-part {
    padding: 100px 0;
}

#newsletter-part .container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

#newsletter-part .container .images {
    text-align: center;
}

#newsletter-part .container .text h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 40px 0;
}

#newsletter-part .container .text p {
    color: rgba(7, 2, 17, 0.60);
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    text-align: justify;
}

#newsletter-part .container form {
    padding: 60px 400px;

}

#newsletter-part .container input {
    width: 338px;
    height: 32px;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px 0 0 15px;
    border: 0;
}

#newsletter-part .container form button {
    padding: 12px 15px;
    border-radius: 0 30px 30px 0;
    background: #F00;
    color: white;
}


/* footer section styles */

footer {
    background: #070211;
}

footer .container .text {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 0 0;
}

footer .container .text .left h4 {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}

footer .container .text .right .call {
    display: flex;
    align-items: center;
    gap: 5px;
}

footer .container .text .right .call small {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

footer .container .icon {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

footer .container .icon img {
    width: 64px;
}

footer .container .copy-right {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

footer .container .copy-right p {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}